/* .image-uploader {
  margin-bottom: 1.5rem;
}

.file-input {
  display: block;
  margin: 0 auto;
  padding: 0.5em;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 1rem;
  cursor: pointer;
} */
